html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Mono', monospace;
  color: var(--black);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

:root {
  --black: #3b434e;
  --gray: #a4a4a4;
  --light-gray: #ebebeb;
  --dark-gray: #62666c;
  --white: white;
  --primary: #694adf;
  --primary-hover: #5430e6;
  --red: #fc836d;
  --light-red: #f2a79a;
  --green: #007b48;
  --light-green: #c8f8e4;
  --background: #e5e5e5;
  --font-family: 'Noto Sans Mono', monospace;
}
